################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/LocalizationFilesManager/.vs/
/LocalizationFilesManager
/LocalizationFilesManager/LocalizationFilesManager/obj
